# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# Docker
.docker/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

*.tar

kubernetes/secret.yaml
